<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./stylesheets/dropzone.css">
    <link rel="stylesheet" href="./stylesheets/dangbai.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
        <div class="header" >
                <div class="menu">
                    <a href="/trangchu">Trang chủ</a>
                    <a href="/dangnhap">Đăng bài</a>
              </div>
        </div>
      <div class="wrapper">
            
            <section class="wrap clearfix">
                <div class="form">
                  <h1>Hình ảnh</h1>
                    <form id="upload-widget" method="post" action="/uploadanh" class="dropzone">
                                
                    </form>
                    <form action="/upnd" method="post" class="">
                        <div class="form-group">
                          <label for="title">Tiêu đề</label>
                          <input type="" class="form-control" name="title" placeholder="Some title here">
                        </div>
                        <div class="form-group">
                          <label for="subtitle">Mô tả ngắn</label>
                          <input type="" class="form-control" name="subtitle" placeholder="Subtitle">
                        </div>
                        <div class="form-group">
                            <label for="content">Nội dung</label>
                            <input class="form-control" name="content" placeholder="Support Markdown Content">
                          </div>
                          <div class="form-group">
                            <label for="tag">Tags</label>
                            <input type="" class="form-control" name="tag" placeholder="Tags: Khoa học, máy tính...">
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
                    
                      <section class="sidebar">
                        <article class="list_news">
                            <h3 class="title_news">
                            <a href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch </a>
                            </h3>
                            <div class="thumb_art">
                            <a class="thumb thumb_5x3" href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            <img src="https://i-vnexpress.vnecdn.net/2018/09/11/anh41535859466680x0-1536650583-2329-1536650685_180x108.jpg" alt="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            </a>
                            </div>
                            <h4 class="description">
                            Do lưu lượng xe tăng cao và yêu cầu phát triển kinh tế của địa phương, nhiều đoạn cao tốc mới sẽ được bổ sung vào quy hoạch. </h4>
                    </article>                
                    <article class="list_news">
                            <h3 class="title_news">
                            <a href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch </a>
                            </h3>
                            <div class="thumb_art">
                            <a class="thumb thumb_5x3" href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            <img src="https://i-vnexpress.vnecdn.net/2018/09/11/anh41535859466680x0-1536650583-2329-1536650685_180x108.jpg" alt="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            </a>
                            </div>
                            <h4 class="description">
                            Do lưu lượng xe tăng cao và yêu cầu phát triển kinh tế của địa phương, nhiều đoạn cao tốc mới sẽ được bổ sung vào quy hoạch. </h4>
                    </article>                
                    <article class="list_news">
                            <h3 class="title_news">
                            <a href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch </a>
                            </h3>
                            <div class="thumb_art">
                            <a class="thumb thumb_5x3" href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            <img src="https://i-vnexpress.vnecdn.net/2018/09/11/anh41535859466680x0-1536650583-2329-1536650685_180x108.jpg" alt="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            </a>
                            </div>
                            <h4 class="description">
                            Do lưu lượng xe tăng cao và yêu cầu phát triển kinh tế của địa phương, nhiều đoạn cao tốc mới sẽ được bổ sung vào quy hoạch. </h4>
                    </article>                
                    <article class="list_news">
                            <h3 class="title_news">
                            <a href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch </a>
                            </h3>
                            <div class="thumb_art">
                            <a class="thumb thumb_5x3" href="https://vnexpress.net/tin-tuc/thoi-su/giao-thong/bo-giao-thong-bo-sung-nhieu-tuyen-cao-toc-moi-vao-quy-hoach-3807057.html" title="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            <img src="https://i-vnexpress.vnecdn.net/2018/09/11/anh41535859466680x0-1536650583-2329-1536650685_180x108.jpg" alt="Bộ Giao thông bổ sung nhiều tuyến cao tốc mới vào quy hoạch">
                            </a>
                            </div>
                            <h4 class="description">
                            Do lưu lượng xe tăng cao và yêu cầu phát triển kinh tế của địa phương, nhiều đoạn cao tốc mới sẽ được bổ sung vào quy hoạch. </h4>
                    </article>  
                      </section>
                  </section>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="./javascripts/dropzone.js"></script>
    <script>
        Dropzone.options.uploadWidget = {
  paramName: 'file',
  maxFilesize: 2, // MB
  maxFiles: 1,
  dictDefaultMessage: 'Drag an image here to upload, or click to select one',
  headers: {
    'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
  },
  acceptedFiles: 'image/*',
  init: function() {
    this.on('success', function( file, resp ){
      console.log( file );
      console.log( resp );
    });
    this.on('thumbnail', function(file) {
      if ( file.width < 640 || file.height < 480 ) {
        file.rejectDimensions();
      }
      else {
        file.acceptDimensions();
      }
    });
  },
  accept: function(file, done) {
    file.acceptDimensions = done;
    file.rejectDimensions = function() {
      done('The image must be at least 640 x 480px')
    };
  }
};
    </script>
  </body>
</html>